@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');
body{
    background-color: antiquewhite;
}

*
{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ms Madi', cursive;
    font-family: 'Square Peg', cursive;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color:black;
    color: white;


}

nav ul li{
    padding: 12px;
}

.brand img{
width: 46px;
padding:0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.4rem ;

}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 35px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
   background-size:contain;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction:column;
  
}
.icons{
    margin-top: 12px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
   width: 80vw;
   cursor: pointer;
}

.songItem {
    height:50px ;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 2px 12px;
    justify-content:space-between;
    border-radius: 34px;
align-items: center;



}

.songItem img{
    width: 43px;
    margin: 0 22px;
    border-radius: 34px;
}

.timeStamp i{
    cursor: pointer;
    margin-right: 18px;
}

.songItemContainer{
    margin-top: 34px;
}

.songInfo{
    position:absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

#home{
    cursor: pointer;
}

#about{
    cursor: pointer;
}
